@import "../navbar.css";
@import "../footer.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {    
    margin: auto 0px;
}

body {
    background-image: url(../../pics/toothbg.png);
}

@media screen and (max-width:1024px) {
    .hamburger {
        display: flex;
        cursor: pointer;
    }

    ul {
        display: none;
    }

    ul.ham_active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: auto;
        gap: 24px;
        padding-bottom: 2rem;
        background-color:#027880; /*background color when clicked the hamburgir*/

    }
}

.table-container{
    margin: 2rem 5rem;

}

table{
    width:100%;
    margin-top:40px;
    background-color: rgba(255, 255, 255, 0.63);
}

table tr{
    border:3px solid black;
}

table td{
    padding:20px;
}

table td:nth-child(2){
    width:300px;
}

.column-item{
    text-align:center;
}

h2{
    font-size: 29px;
}

h5, p{
    color: #027880;
}

button{
    color: white;
    background-color: #027880;
}

header nav {
    height: 68px;
}


/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    width: 38%;
    height: auto; /* Set to auto or remove to let the height adjust based on content */
    max-height: 80%; /* Set a maximum height to avoid taking up the entire screen */
    overflow-y: auto; /* Add scrollbar if content exceeds max-height */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    z-index: 9999;
    /* padding-bottom: -5rem; Remove this line */
}

/* Style for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9998; /* Ensure overlay is behind the popup */
}

/* Close button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.cancel_bttn{
    background-color: #33AA63;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
}

.input-wrapper {
    flex: 1;
}

.input-wrapper textarea {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.success, .error{
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    width: 40%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #2E7D32;
    margin: 10px 0;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 9999; /* Set a high z-index to ensure it's above other elements */
}

.error{
    background-color: red;
    border: 2px solid rgb(172, 0, 0);
}

.success.hide, .error.hide {
    opacity: 0;
}
